@model IEnumerable<ThreeTrees.Metrics.Domain.EmployeeStatistics.Entities.EmployeeStatisticByYear>

@{
    ViewData["Title"] = "ByYear";
}

<h2>Statistic by year</h2>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />

@using (@Html.BeginForm("EmployeeStatistic", "ByYear"))
{
    <div class="form-group">
        <label for="year">Select year</label>
        @Html.DropDownList("year", ViewBag.years as SelectList,
                         "Select year", new { @id = "year", @class = "form-control", @onchange = "location = this.value;" })
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>
                Best
            </th>
            <th>
                Worst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@item.StatisticName</b>
                </td>
                <td>
                    @(@item.BestEmployee?.Name ?? "N/A")
                </td>
                <td>
                    @(@item.WorstEmployee?.Name ?? "N/A")
                </td>
            </tr>
        }
    </tbody>
</table>
