@model IEnumerable<ThreeTrees.Metrics.Domain.EmployeeStatistics.Entities.EmployeeStatistic>

@{
    ViewData["Title"] = "Index";
}

<h2>Employee Statistic</h2>

<ul>
    <li>
        <a asp-action="Create">Create New</a>
    </li>
    <li>
        <a asp-action="Total">Total</a>
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BilledHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompletedTasks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DrunkedCups)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlayedMcGames)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BilledHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedTasks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrunkedCups)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayedMcGames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
